.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;

  h1 {
    @media (max-width: 1000px) {
      font-size: 24px;
    }
  }

  .input {
    display: flex;
    flex-direction: column;
    gap: 4px;

    max-width: 500px;
    width: 100%;

    margin: 24px 0;

    textarea {
      display: block;
      resize: none;
      height: 200px;
      width: 100%;
      padding: 16px;

      border: 1px solid transparent;
      border-radius: 4px;
      outline: none;
      transition: all 0.1s linear;

      font-family: "Aileron-Regular", sans-serif;
    }
  }

  input[type="text"],
  textarea,
  select {
    &:hover,
    &:focus {
      box-shadow: 0 0 2px 2px rgba(#e72a81, 0.2);
      border-color: #e72a81;
    }
  }

  input[type="text"],
  select {
    padding: 8px;
    border-radius: 4px;
    outline: none;
    margin-top: 4px;
    width: 100px;
  }

  input[type="checkbox"] {
    margin-right: 4px;
  }

  .settings {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 100%;
    margin-bottom: 24px;
    gap: 8px;

    > div {
      display: flex;
      padding-top: 32px;

      @media (max-width: 720px) {
        padding-top: 23px;
      }

      &:first-child {
        flex-direction: column;
        padding-top: 0;
      }

      &.containerAdjusts {
        flex-direction: column;
        position: relative;

        .adjusts {
          width: min-content;
          margin-top: 4px;
        }
      }
    }
  }

  button {
    all: unset;
    background-color: #e72a81;
    color: #fff;
    padding: 12px;
    text-align: center;
    width: 150px;
    border-radius: 4px;
    cursor: pointer;

    margin: 24px auto;

    &.btnGenerate {
      margin: 0;
      margin-bottom: 32px;
    }

    transition: all 0.1s linear;

    &:hover {
      background-color: rgba(#e72a81, 0.8);
    }
  }
}
