.container {
  width: 1080px;
  height: 1080px;

  padding: 72px 86px 45px;

  font-family: "Montserrat", sans-serif;

  background-image: url("../../assets/images/bg-white.svg");
  background-repeat: no-repeat;
  background-size: cover;

  header {
    display: flex;
    flex-direction: column;
    padding-left: 35px;

    width: 100%;

    .infos {
      display: flex;
      align-items: center;
      column-gap: 70px;
      font-size: 34px;
      height: 165px;
      overflow-y: auto;

      h2,
      p {
        font-size: inherit;
        font-weight: 600;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .breakline {
        display: block;
      }
    }

    .footerInfos {
      display: grid;
      grid-template-columns: repeat(2, min-content);
      column-gap: 25px;
      font-size: 24px;
      margin: 28px 0;
      align-items: center;

      > p {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        align-items: center;
        max-height: 64px;

        span {
          display: block;
          width: 300px;
          margin-left: 10px;
        }
      }
    }
  }

  section {
    padding: 30px 45px;
    background-image: url("../../assets/images/bg-blue.svg");
    background-repeat: no-repeat;
    background-size: cover;

    ul {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      height: 450px;
      margin-left: 28px;
      font-size: 24px;

      li {
        color: #fff;
        font-weight: 600;
      }
    }
  }

  footer {
    display: grid;
    justify-content: center;
    margin: 11px auto 0;
    gap: 15px;

    div {
      display: flex;
      align-items: center;
      font-size: 22px;
      font-weight: 600;
      line-height: 150%;

      img {
        margin-right: 30px;
      }
    }

    > img {
      margin: 0 auto;
    }
  }
}
